body {
  font: 1em 'Myriad Pro', sans-serif; }

.page-header {
  min-width: 320px;
  min-height: 135px;
  background-color: #242424;
  font-family: Arial, sans-serif; }

.page-header__logo {
  display: grid;
  height: 85px;
  align-items: center;
  justify-content: center; }

.main-nav {
  background-color: #826550;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.main-nav__toggle {
  order: 2;
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  visibility: hidden;
  position: relative;
  width: 50px;
  height: 36px; }
  .main-nav__toggle:after {
    position: absolute;
    content: '';
    display: block;
    visibility: visible;
    top: -9px;
    left: -22px;
    height: 50px;
    width: 70px;
    background: center no-repeat url("../resources/img/img-opt/menu-icon.svg") #6a4d38; }

.main-nav__wrapper {
  grid-column: 1/3;
  grid-row: 1; }

.site-list {
  display: grid;
  justify-content: center;
  padding-left: 0; }

.site-list__item {
  display: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  line-height: 1; }
  .site-list__item a {
    text-decoration: none;
    color: white; }

.site-list__item_active {
  display: block;
  width: content-box; }

.user-list {
  display: none; }

/****************************TABLET***********************************************************/
@media all and (min-width: 768px) {
  .page-header {
    min-height: 470px;
    background: black no-repeat url("../resources/img/img-opt/back-tablet.jpg");
    background-size: 100%;
    display: flex;
    flex-flow: column; }

  .page-header__logo {
    height: auto;
    order: 2;
    margin-top: 50px; }

  .page-header__logo-image {
    content: url("../resources/img/img-opt/logotype-tablet.svg"); }

  .main-nav {
    min-height: 70px;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch; }

  .main-nav__toggle {
    display: none; }

  .main-nav__wrapper {
    padding: 0 65px;
    order: 1;
    min-height: 70px;
    background-color: black;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between; }

  .site-list {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0; }

  .site-list__item {
    display: block;
    letter-spacing: -1px;
    font-size: 16px;
    line-height: 70px; }

  .site-list__item_active {
    border-bottom: 3px solid #826550; }

  .user-list {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0; }

  .user-list__item {
    display: flex;
    align-content: center; }

  .user-list__login {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -2px;
    position: relative; }
    .user-list__login:before {
      content: url("../resources/img/img-opt/login.svg");
      display: inline-block;
      position: absolute;
      left: -20px; } }
.page-main {
  min-width: 320px; }

.visually-hidden {
  display: none; }

/*stats header*/
.stats__header {
  height: 185px;
  display: grid; }

.stats__legend {
  display: none; }

.stats__slogan {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  display: block;
  margin-top: 30px; }

.stats__intro {
  font-size: 20px;
  line-height: 1.35;
  text-align: center; }

/*Stats list*/
.stats__list {
  color: white;
  border-collapse: collapse;
  width: 100%; }
  .stats__list tr:nth-child(2n) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(2n +1) {
    background-color: #353535; }

.stats__value {
  font-size: 40px;
  line-height: 80px;
  padding-left: 15px; }

.stats__field {
  font-size: 18px;
  line-height: 1;
  text-align: right;
  padding-right: 15px; }

.stats__legend_bottom {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #777777;
  line-height: 1.35;
  text-align: center;
  background-color: #242424;
  padding-top: 20px; }

/*TABLET************************************************************************************************/
@media all and (min-width: 768px) {
  /*stats header*/
  .stats {
    margin-top: -178px; }

  .stats__header {
    width: 640px;
    height: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: start;
    padding-top: 40px;
    background-color: white; }

  .stats__legend {
    display: block;
    font: 20px 'Myriad Pro', sans-serif;
    color: #c5c5c5;
    margin-left: 40px;
    margin-bottom: 35px; }

  .stats__slogan {
    text-align: left;
    margin: 0;
    margin-left: 40px; }

  .stats__intro {
    text-align: left;
    margin: 0;
    width: 235px;
    margin-left: 40px;
    margin-top: -5px; }

  /*Stats list*/
  .stats__list {
    width: 640px;
    margin: 0 auto;
    background: #353535;
    background-clip: border-box; }
    .stats__list tbody {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content; }
      .stats__list tbody tr:first-child {
        background-color: #404040; }
      .stats__list tbody tr:nth-child(2) {
        background-color: #4e4e4e; }
      .stats__list tbody tr:nth-child(3) {
        background-color: #353535; }
      .stats__list tbody tr:nth-child(4) {
        background-color: #404040; }
      .stats__list tbody tr {
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px; }
      .stats__list tbody td {
        padding: 0;
        padding-left: 40px; }

  .stats__value {
    font-size: 72px;
    text-align: left; }

  .stats__field {
    font-size: 20px;
    text-align: left; }

  .stats__legend_bottom {
    display: none; } }
.advantages {
  margin-top: -31px;
  height: 400px;
  background: #242424 bottom/100% no-repeat url("../resources/img/img-opt/banner_02.png"); }

.advantages__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center; }

.advantages__list {
  list-style: none;
  color: #f7f4f1;
  margin: 0;
  padding: 0; }

.advantages__item {
  height: 320px;
  display: grid;
  justify-items: center; }

.advantages__item_cool, .advantages__item_price {
  display: none; }

.advantages__title {
  padding-top: 150px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  display: inline-block;
  justify-self: center; }

.advantages__description {
  margin-top: -15px;
  font-size: 20px;
  text-align: center; }

.advantages__item_fast .advantages__title {
  position: relative;
  margin: 0 auto; }
  .advantages__item_fast .advantages__title:before {
    content: url("../resources/img/img-opt/advantage-1-illustration.svg");
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 15%; }

.advantages__toggles {
  margin: 0; }

.slider__toggle {
  visibility: hidden;
  position: relative; }
  .slider__toggle:before {
    visibility: visible;
    position: absolute;
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid #f7f4f1; }

/*TABLET***********************************************************************************/
@media all and (min-width: 768px) {
  .advantages {
    background-color: #272727;
    margin-top: -365px;
    padding-top: 365px;
    height: min-content; }

  .advantages__wrapper {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 60px; }

  .advantages__item {
    height: 175px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: space-evenly;
    border-bottom: 1px solid #4a4a4a;
    padding-left: 160px; }

  .advantages__item:last-child {
    border-bottom: none; }

  .advantages__item_cool, .advantages__item_price {
    display: block; }

  .advantages__item_fast .advantages__title:before {
    top: 0;
    left: -130px; }

  .advantages__item_fast .advantages__title {
    position: relative;
    margin: 0;
    padding-top: 45px;
    margin-bottom: 20px; }
    .advantages__item_fast .advantages__title:before {
      display: inline-block;
      position: absolute;
      top: 50px;
      left: -130px; }

  .advantages__title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-top: 45px;
    margin-bottom: 20px; }
    .advantages__title:before {
      display: inline-block;
      position: absolute;
      top: 50px;
      left: -130px; }

  .advantages__description {
    text-align: left;
    margin: 0; }

  .advantages__item_cool .advantages__title:before {
    content: url("../resources/img/img-opt/advantage-2-illustration.svg"); }

  .advantages__item_price .advantages__title:before {
    content: url("../resources/img/img-opt/advantage-3-illustration.svg"); }

  .advantages__toggles {
    display: none; } }
.news {
  background-color: #f8f5f2; }

.news__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center; }

.news__title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 40px; }

.news__list {
  list-style: none;
  padding: 0; }

.news__list li:not(:first-child):not(:nth-child(2)) {
  display: none; }

.news__item {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid  #e5ddd5; }
  .news__item:last-child {
    border-bottom: none; }

.news__date {
  width: 50px;
  height: 60px;
  display: block;
  background: border-box no-repeat url("../resources/img/img-opt/date-back2.png");
  padding-left: 8px;
  padding-top: 5px; }

.news__day {
  color: white;
  font-size: 16px;
  line-height: 1; }
  .news__day span {
    font-size: 30px;
    line-height: 1; }

.news__text {
  font: 18px/27px 'Myriad Pro', sans-serif;
  margin: 0;
  width: 80%; }

.news__to-all {
  margin-bottom: 30px; }

.button {
  display: block;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid #e5ddd5;
  line-height: 50px;
  color: black; }

@media all and (min-width: 768px) {
  .news__wrapper {
    width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .news__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px; }

  .news__item {
    border-bottom: none; } }
.reviews {
  border-top: 1px solid #e5ddd5;
  background: #f8f5f2 bottom/100% no-repeat url("../resources/img/img-opt/barbershop-index-mobile_02.png"); }

.reviews__wrapper {
  display: grid; }

.reviews__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; }

.reviews__write {
  display: none; }

.reviews__item:not(:first-child) {
  display: none; }

.reviews__item.slider__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: min-content;
  align-content: start;
  align-items: start; }

.reviews__autor-picture {
  grid-area: 1/1/1/2;
  margin: 0; }

.reviews__author-name {
  font-size: 24px; }

.reviews__text {
  grid-area: 2/2/2/3;
  margin: 0;
  margin-top: -20px; }

.reviews__prev {
  display: none; }

.reviews__next {
  display: none; }

.reviews__toggles {
  margin-bottom: 60px;
  display: flex;
  justify-content: center; }

.reviews__toggles .slider__toggle {
  visibility: hidden;
  position: relative; }
  .reviews__toggles .slider__toggle:after {
    visibility: visible;
    position: absolute;
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid black; }

.page-footer {
  background-color: #292929;
  min-width: 320px;
  font: 18px/27px 'Myriad Pro', sans-serif;
  color: white;
  padding-top: 40px; }

.contacts {
  display: grid;
  justify-items: center; }

.contacts__text {
  width: 70%;
  text-align: center; }

.contacts__phone {
  display: block;
  font-size: 18px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  border: 1px solid #3e3e3e;
  margin-top: 25px; }

.contacts__phone-mobile {
  display: none; }

.social__title {
  display: none; }

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  justify-content: center; }

.social__item {
  width: 100px;
  height: 100px;
  border: 1px solid #3f3f3f; }

.social__item:nth-child(2) {
  border-left: none;
  border-right: none; }

.social__link {
  visibility: hidden;
  position: relative;
  display: block;
  width: 100px;
  height: 100px; }
  .social__link:before {
    content: '';
    visibility: visible;
    display: inline-block;
    width: 100px;
    height: 100px; }

.social__link_vkontakte:before {
  background: url("../resources/img/img-opt/vk-icon-big.png") no-repeat center; }

.social__link_facebook:before {
  background: url("../resources/img/img-opt/facebook-icon-big.png") no-repeat center; }

.social__link_instagram:before {
  background: url("../resources/img/img-opt/insta-icon-big.png") no-repeat center; }

.page-footer__copyright {
  padding-top: 35px;
  padding-bottom: 25px; }

.copyright {
  display: grid;
  justify-items: center; }

.copyright__text {
  margin-bottom: 20px; }

.copyright__link {
  color: white; }

/*# sourceMappingURL=main.css.map */
