body {
  font: 1em 'Myriad Pro', sans-serif; }

.page-header {
  min-width: 320px;
  min-height: 135px;
  background-color: #242424;
  font-family: Arial, sans-serif; }

.page-header__logo {
  display: grid;
  height: 85px;
  align-items: center;
  justify-content: center; }

.main-nav {
  background-color: #826550;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.main-nav__toggle {
  order: 2;
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  visibility: hidden;
  position: relative;
  width: 50px;
  height: 36px; }
  .main-nav__toggle:after {
    position: absolute;
    content: '';
    display: block;
    visibility: visible;
    top: -9px;
    left: -22px;
    height: 50px;
    width: 70px;
    background: center no-repeat url("../resources/img/img-opt/menu-icon.svg") #6a4d38; }

.main-nav__wrapper {
  grid-column: 1/3;
  grid-row: 1; }

.site-list {
  display: grid;
  justify-content: center;
  padding-left: 0; }

.site-list__item {
  display: none; }

.site-list__item_active {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  line-height: 1;
  width: content-box; }

.user-list {
  display: none; }

.page-main {
  min-width: 320px; }

.visually-hidden {
  display: none; }

/*stats header*/
.stats__header {
  height: 185px;
  display: grid; }

.stats__legend {
  display: none; }

.stats__slogan {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  display: block;
  margin-top: 30px; }

.stats__intro {
  font-size: 20px;
  line-height: 1.35;
  text-align: center; }

/*Stats list*/
.stats__list {
  color: white;
  border-collapse: collapse;
  width: 100%; }
  .stats__list tr:nth-child(2n) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(2n +1) {
    background-color: #353535; }

.stats__value {
  font-size: 40px;
  line-height: 80px;
  padding-left: 15px; }

.stats__field {
  font-size: 18px;
  line-height: 1;
  text-align: right;
  padding-right: 15px; }

.stats__legend_bottom {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #777777;
  line-height: 1.35;
  text-align: center;
  background-color: #242424;
  padding-top: 20px; }

.advantages {
  margin-top: -31px;
  height: 400px;
  background: #242424 bottom/100% no-repeat url("../resources/img/img-opt/banner_02.png"); }

.advantages__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center; }

.advantages__list {
  list-style: none;
  color: #f7f4f1;
  margin: 0;
  padding: 0; }

.advantages__item {
  height: 320px;
  display: grid;
  justify-items: center; }

.advantages__item_cool, .advantages__item_price {
  display: none; }

.advantages__title {
  padding-top: 150px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  display: inline-block;
  justify-self: center; }

.advantages__description {
  margin-top: -15px;
  font-size: 20px;
  text-align: center; }

.advantages__item_fast .advantages__title {
  position: relative;
  margin: 0 auto; }
  .advantages__item_fast .advantages__title:before {
    content: url("../resources/img/img-opt/advantage-1-illustration.svg");
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 15%; }

.advantages__toggles {
  margin: 0; }

.slider__toggle {
  visibility: hidden;
  position: relative; }
  .slider__toggle:before {
    visibility: visible;
    position: absolute;
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid #f7f4f1; }

.news {
  background-color: #f8f5f2; }

.news__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center; }

.news__title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 40px; }

.news__list {
  list-style: none;
  padding: 0; }

.news__list li:not(:first-child):not(:nth-child(2)) {
  display: none; }

.news__item {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid  #e5ddd5; }
  .news__item:last-child {
    border-bottom: none; }

.news__date {
  width: 50px;
  height: 60px;
  display: block;
  background: border-box no-repeat url("../resources/img/img-opt/date-back2.png");
  padding-left: 8px;
  padding-top: 5px; }

.news__day {
  color: white;
  font-size: 16px;
  line-height: 1; }
  .news__day span {
    font-size: 30px;
    line-height: 1; }

.news__text {
  font: 18px/27px 'Myriad Pro', sans-serif;
  margin: 0;
  width: 80%; }

.news__to-all {
  margin-bottom: 30px; }

.button {
  display: block;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid #e5ddd5;
  line-height: 50px;
  color: black; }

.reviews {
  border-top: 1px solid #e5ddd5;
  background: #f8f5f2 bottom/100% no-repeat url("../resources/img/img-opt/barbershop-index-mobile_02.png"); }

.reviews__wrapper {
  display: grid; }

.reviews__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; }

.reviews__write {
  display: none; }

.reviews__item:not(:first-child) {
  display: none; }

.reviews__item.slider__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: min-content;
  align-content: start;
  align-items: start; }

.reviews__autor-picture {
  grid-area: 1/1/1/2;
  margin: 0; }

.reviews__author-name {
  font-size: 24px; }

.reviews__text {
  grid-area: 2/2/2/3;
  margin: 0;
  margin-top: -20px; }

.reviews__prev {
  display: none; }

.reviews__next {
  display: none; }

.reviews__toggles {
  margin-bottom: 60px;
  display: flex;
  justify-content: center; }

.reviews__toggles .slider__toggle {
  visibility: hidden;
  position: relative; }
  .reviews__toggles .slider__toggle:after {
    visibility: visible;
    position: absolute;
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid black; }

/*# sourceMappingURL=main.css.map */
