/*color*/
$wrap-border: #a292b3;
$clients-background: #f5f5f5;
/*header fonts*/
$header-font: 19px/1.2 'Sergoe UI', sans-serif;
$header-font-color:  rgb(84, 84, 84);
/*banner fonts*/
$banner-font: 117px/0.308 sans-serif;
$banner-font-color: rgba(255, 255, 255, 0.969);
$banner-text-shadow: 0px 6px 0px rgba(130, 105, 157, 0.75);
/*text under bunner*/
