.lorem-video{

  display: flex;
  flex-flow: row wrap;
justify-content: space-evenly;
  align-content: center;
  //padding: 10px 0;
  .lorem-video__description{
    position: relative;
    flex: 1 1 260px;
    background-color: #ec9e03;
    margin:10px 5px;
    padding: 30px;
    p{
      font: 28px/33px 'Myriad Pro', sans-serif;
      color: white;
    }
    span{
     font-size: 30px;
      font-weight: bold;
      color: white;
      position: absolute;
      bottom: 30px;
      right: 30px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  iframe{
    flex: 1 1 260px;
    margin: 10px 5px;
  }
}