.banner-eyes{
  min-height: 570px;
  background: url("../img/zebra.png");
  h2{
    text-transform: uppercase;
    font: 116px/570px Impact, sans-serif;
    font-weight: 800;
    color: white;
    text-align: center;
  }
}