@import "2base/normalize";
@import "3layout/style1";



.Lorem_ipsum_dolor_sit_amet__consectetur_adipisi {
  font-size: 23px;
  font-family: "Segoe UI";
  color: rgb(130, 105, 157);
  font-weight: bold;
  font-style: italic;
  line-height: 1.565;
  text-align: center;
  position: absolute;
  left: 184.892px;
  top: 715.448px;
  width: 905px;
  height: 94px;
  z-index: 46;
}

