.rectangle{
  width:300px;
  height: 300px;
  margin:300px auto;
  background-color: rebeccapurple;
}
@keyframes stretching {
  100%{
    width: 0px;
    height: 0px;

  }
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.rectangle{
 animation: rotate 1000ms linear infinite alternate running;
  &:hover{
    animation-play-state: paused;
  }
}