.page-footer__copyright{
padding-top:35px;
  padding-bottom: 25px;
}
.copyright{
display: grid;
  justify-items: center;
}
.copyright__text{
  margin-bottom: 20px;
}
.copyright__link{
  color: white;
}
.copyright__link .button {
}
@media all and(min-width: 1024px) {
  .page-footer__copyright{
    padding:0;
    margin:0;
  }

}