.advantages{
  margin-top:-31px;
  height: 400px;
  background: #242424 bottom/100% no-repeat url("../resources/img/img-opt/banner_02.png")
}
.advantages__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.advantages__list{
  list-style: none;
  color:#f7f4f1;
  margin:0;
  padding:0;
}
.advantages__item{
  height: 320px;
  display: grid;
  justify-items: center;

}
.advantages__item_cool, .advantages__item_price{
  display: none;
}
.advantages__title{
  padding-top:150px;
    font-size: 30px;
  text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
  text-align: center;
  display: inline-block;
  justify-self: center;
}
.advantages__description{
  margin-top:-15px;

  font-size: 20px;
  text-align: center;
}
.advantages__item_fast  .advantages__title{
  position:relative;
  margin:0 auto;
  &:before{
    content:url("../resources/img/img-opt/advantage-1-illustration.svg");
    display: inline-block;
    position: absolute;
    top:40px;
    left:15%;
  }
}
.advantages__toggles{
  margin:0;
}
.slider__toggle{
  visibility:hidden;
  position: relative;
  &:before{
    visibility: visible;
    position: absolute;
    content:'';
    display: inline-block;
    width:7px;
    height:7px;
    top:2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid #f7f4f1;
  }
}
/*TABLET***********************************************************************************/
@media all and (min-width: 768px) {
  .advantages{
    background-color: #272727;
    margin-top: -365px;
    padding-top: 365px;
    height: min-content;
  }
  .advantages__wrapper {
    width: 640px;
    margin:  0 auto;
    margin-bottom: 60px;
  }

  .advantages__list{
  }
  .advantages__item{
    height: 175px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: space-evenly;
    border-bottom: 1px solid #4a4a4a;
    padding-left: 160px;
  }
  .advantages__item:last-child{
    border-bottom: none;
  }
  .advantages__item_cool, .advantages__item_price{
    display: block;
  }
  .advantages__item_fast .advantages__title:before {
    top: 0;
    left: -130px;
  }
  .advantages__item_fast .advantages__title {
    position: relative;
    margin: 0;
    padding-top: 45px;
    margin-bottom: 20px;
    &:before{
      display: inline-block;
      position: absolute;
      top: 50px;
      left: -130px;
    }
  }

  .advantages__title{
    display: block;
    position:relative;
    margin:0;
    padding:0;
    text-align: left;
    padding-top: 45px;
    margin-bottom: 20px;

    &:before{
      display: inline-block;
      position: absolute;
      top: 50px;
      left: -130px;
    }
  }
  .advantages__description{
    text-align: left;
    margin:0;
  }
  .advantages__item_fast  .advantages__title{
    &:before{
    }
  }
  .advantages__item_cool  .advantages__title{
    &:before{
      content:url("../resources/img/img-opt/advantage-2-illustration.svg");
    }
  }
  .advantages__item_price  .advantages__title{
    &:before{
      content:url("../resources/img/img-opt/advantage-3-illustration.svg");
    }
  }
  .advantages__toggles{
    display: none;
  }
  .slider__toggle{
    &:before{
    }
  }

}
/*desktop***********************************************************************************/
@media all and(min-width: 1024px) {
  .advantages{
  }
  .advantages__wrapper{
    width: 960px;
    margin-top:-50px;
    margin-bottom:0;
  }
  .advantages__list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    vertical-align: baseline;
  }
  .advantages__item{
    min-height: 400px;
    //width: 100%;
    padding:0 20px;
    border-bottom:none;
  }
  .advantages__title{
    text-align: center;
  }
  .advantages__description{
    width:100%;
    text-align:center;
  }
  .advantages__item_fast .advantages__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    &:before{
      display: inline-block;
      position: absolute;
      top: -60px;
      left: 100px;
    }
  }
  .advantages__item_cool .advantages__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    &:before{
      display: inline-block;
      position: absolute;
      top: -60px;
      left: 100px;
    }
  }
  .advantages__item_price .advantages__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    &:before{
      display: inline-block;
      position: absolute;
      top: -60px;
      left: 100px;
    }
  }

}


