.news{
  background-color:#f8f5f2;
}
.news__wrapper{
  display:grid;
  justify-content: center;
  justify-items: center;

}
.news__title{
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 40px;
}
.news__list{
list-style: none;
padding:0;
}
.news__list li:not(:first-child):not(:nth-child(2)){
  display:none;
}
.news__item{
  padding:10px 0;
display: flex;
  border-bottom: 1px solid  #e5ddd5;
  &:last-child{
    border-bottom: none;
  }

}
.news__date{
  width: 50px;
  height: 60px;
  display: block;
  background:  border-box no-repeat url("../resources/img/img-opt/date-back2.png");
  padding-left:8px;
  padding-top:5px;
}
.news__day {
  color: white;
  font-size: 16px;
  line-height: 1;
  span{
    font-size: 30px;
    line-height: 1;

  }
}
.news__text{
 font: 18px/27px 'Myriad Pro', sans-serif;
  margin:0;
  width: 80%;
}
.news__to-all{
margin-bottom:30px;
}
.button{
  display:block;
  width: 280px;
  text-align: center;
  text-transform:uppercase;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid #e5ddd5;
  line-height: 50px;
  color: black;
}
@media all and(min-width: 768px) {
  .news{
  }
  .news__wrapper{
    width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .news__title{
  }
  .news__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px;
  }
  .news__list li:not(:first-child):not(:nth-child(2)){
  }
  .news__item{
    border-bottom: none;
    &:last-child{
    }

  }
  .news__date{
  }
  .news__day {
    span{

    }
  }
  .news__text{
  }
  .news__to-all{

  }
  .button{
  }

}