.reviews{
  border-top: 1px solid #e5ddd5 ;
background:#f8f5f2  bottom/100% no-repeat url("../resources/img/img-opt/barbershop-index-mobile_02.png");
}
.reviews__wrapper{
  display: grid;
}
.reviews__wrapper .slider{
}
.reviews__title{
font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.reviews__write{
display: none;
}
.reviews__list{

}
.slider__list{

}
.reviews__item{

}
.reviews__item:not(:first-child)
{
  display:none;
}
.reviews__item.slider__item{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: min-content;
  align-content: start;
  align-items: start;
}
.reviews__autor-picture{
grid-area:1/1/1/2;
  margin:0;
}
.reviews__autor-image{
}
.reviews__author-name{
font-size: 24px;
}
.reviews__text{
grid-area: 2/2/2/3;
  margin:0;
  margin-top: -20px;
}
.reviews__prev{
  display: none;
}
.reviews__next{
  display: none;
}
.reviews__toggles{
margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.reviews__toggles .slider__toggle{
  visibility:hidden;
  position: relative;
  &:after{
    visibility: visible;
    position: absolute;
    content:'';
    display: inline-block;
    width:7px;
    height:7px;
    top:2px;
    left: 5px;
    transform: rotate(45deg);
    border: 2px solid black;
  }

}
/*TABLET************************************************************************************************/
@media all and(min-width: 768px) {
  .reviews{
    border-top: 1px solid #e5ddd5 ;
    background:#f8f5f2 ;
  }
  .reviews__wrapper{
    width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    align-items: baseline;
  }
  .reviews__list{
    border: 1px solid #e5ddd5;

    display: flex;
    flex-flow: row nowrap;
    grid-column: 1/3;
  }
  .reviews__item{
    order:2;
  }
.reviews__title{
  justify-self: start;
}
  .reviews__write{
    display: block;
    justify-self: end;
  }
  .reviews__prev{
    order:1;
    display: block;
    visibility: hidden;
    position:relative;
    width:50px;
    height: 160px;
    &::before{
      content:'<';
      display: block;
      position: absolute;
      visibility: visible;
      font-size:30px;
      font-weight: bolder;
      text-align: center;
      line-height: 160px;
      width:50px;
      height: 160px;
      border: 1px solid #e5ddd5;
      border-left:none;
      top:-3px;
      left: -3px;

    }
  }
  .reviews__next{
    order:3;
    display: block;
    visibility: hidden;
    position: relative;
    width:50px;
    height: 160px;
    &::before{
      content:'>';
      display: block;
      position: absolute;
      visibility: visible;
      font-size:30px;
      font-weight: bolder;
      text-align: center;
      line-height: 160px;
      width:50px;
      height: 160px;
      border: 1px solid #e5ddd5;
      border-right:none;
      top:-3px;
      left: -5px;
    }
  }
  .reviews__autor-image{
    border-radius: 50%
  }
  .reviews__toggles{
    grid-column: 1/3;
    justify-self: center;
    padding:10px;
    margin-top:-19px;
    background-color:#f8f5f2;
  }



}
/*DESKTOP************************************************************************************************/
@media all and (min-width: 1024px){
  .reviews__wrapper{
    width: 960px;

  }
}
